markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4"
pygments==2.19.1 ; python_version >= "3.11" and python_version < "4"
rich==14.0.0 ; python_version >= "3.11" and python_version < "4"
